<%= tag.article class: 'mb-3 card border-0', id: dom_id(commentquestion) do %>
    <div class="row-8 g-0">
        <div class="col-sm-auto text-sm-center align-self-center">
             <%= commentquestion %>
        </div>
        <div class="col-sm">
            <div class="card-body">
                <section class="card-text mb-3">
                    <div class="col-sm-9">
                        <p>
                            <%= sanitize commentquestion.body%>
                        </p>
                    </div>
                </section>
            </div>
        </div>
     </div>
<%end%>     