<p>Someone has requested password reset for your account.</p>

<p>
  <%= link_to 'Reset my password',
      edit_reset_password_url(user: {reset_password_token: @user.reset_password_token,
                                     email: @user.email}),
      target: '_blank' %>
</p>